@import "base/base";
@import "modules/modules";
@import "layouts/layouts";

#logo {
    width: 220px;
    margin-top: 40px;
    margin-left: 20%;
}

.social-block {
    width: 80%;
    margin: 10px auto 10px auto;
    text-align: center;
    border-radius: 5px;
    border: 1px solid #000;
}
.social-block a {
    text-decoration: none;
    color: #444;
    font-size: 1.5em;
}

.social-block h5 {
    position: relative;
    bottom: 5px;
    font-weight: normal;
    margin: 0;
}

.content {
    width: 80%;
    margin: 50px auto 0 auto;
    color: #666665;
}

.content p {
    font-family: 'Lora', serif;
    margin-bottom: 30px;
    font-size: 1em;
}

.content h1,h2,h3,h4,h5,h6 {
    font-family: 'Lato', sans-serif;
    margin: 0;
}

.content a {
    font-style: italic;
    text-decoration: none;
}

.content a:hover {
    text-decoration: underline;
}

.content .red {
    color: #FF3B30;
}

.content .orange {
    color: #FF9500;
}

.blue {
    color: #34AADC;
}

.content .green {
    color: #4CD964;
}

.organization-link {
    font-style: italic;
    text-decoration: none;
}

.organization-link:hover {
    text-decoration: underline;
}

.organization-link_blue {
    color: #34AADC;
}

.organization-link_orange {
    color: #FF9500;
}

.organization-link_green {
    color: #4CD964;
}

.content-label {
    font-family: 'Lato', sans-serif;
    color: rgba(179, 179, 177, 0.71);
    font-weight: lighter;
    margin: 20px 0 20px 0;
    padding-top: 5px;
    border-top: 1px solid #b3b3b1;
    letter-spacing: .2em;
    font-size: .8em;
}

@media (min-width: 600px) {
    .content p {
        font-size: 1em;
    }
}

@media (min-width: 800px) {
    .content p {
        font-size: 1.25em;
    }

    .content, footer.contact {
        margin-bottom: 50px;
    }
}

@media (min-width: 1000px) {
    .content p {
        font-size: 1.25em;
    }

    .content, div.contact {
        width: 60%;
    }
}

@media (min-width: 1200px) {
    .content p {
        font-size: 1.5em;
    }

    .content, div.contact {
        width: 50%;
    }
}